
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


.recipe-text {
  font-family: "Nothing You Could Do", serif;
  font-weight: 400;
  font-style: normal;
}


::-webkit-scrollbar {
  display: none;
}


.recipe-list {
  background-color: transparent;
  position: relative;
  width: 992px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  left: 10%;
  overflow: scroll;
}
.main-div-recipes-list {
  width: 100%;
  height: 100%;
  transform: translateY(50px); /* Start slightly below */
  opacity: 0; /* Initially hidden */
  animation: fadeSlideIn 0.7s ease-in-out forwards; /* 2-second combined animation */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling within the content area */
  padding: 20px;
}
.category-filter {
  position: relative;
  /* right: -41%;
  margin-top: -10%; */
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
.type-selector {
  width: 300px;
  height: 40px;
  background: #1e1e2f;
      width: 150px;
border: 1px solid #fff;
    margin-top: 15px;
}
.search-bar {
  width: 400px;
  border-radius: 40px;
  position: relative;
  right: -35%;
  bottom: -30%;
}
.btn-btn-refresh {
  position: relative;
  /* right: -46.5%; */
  border-radius: 10px;
  width: 150px;
  margin-top: 3%;
  margin-bottom: 100px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
.type-button {
  border-radius: 10px;
  width: 150px;
}
.text-h3 {
  text-align: center;
  color: white;
  position: relative;
  right: -3%;
}
.text-h3-div {
  background-color: rgb(28, 28, 45);
  width: 700px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
  height: 120px;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  right: -26%;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.recipe-card {
  width: 350px;
  height: 250px;
  bottom: 0;
  animation-iteration-count: 0;
  width: 300px;
}
.chef-filter {
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 28, 45);
  position: relative;
  padding: 20px;
  right: -36%;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
  text-align: center;
  bottom: 20%;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}
.button-label {
  position: relative;
  right: -12%;
  display: flex;
  gap: 20px;
  height: 50px;
}
.all {
  position: relative;
  left: -400%;
}
.chef-filter > .recipes-div {
  width: 90%;
  height: 90%;
  border-radius: 12px;
}

.recipes-div:hover {
  box-shadow: 0 0 20px lightblue;
}

.recipes-div:not(hover) {
  box-shadow: 0 0 2px lightblue;
}

.recipe-images {
  width: 95px;
  height: 95px;
}

.recipes-div > div {
  background-image: url(../pics/recipeDetails.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 500px;
  position: relative;
}

.recipes-div > div {
  height: 600px;
  width: 500px;
  position: relative;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px lightgreen;
  border: 2px solid rgb(28, 28, 45);
}

.recipes-div > div .recipe-name {
  position: absolute;
  top: 180px;
  left: 180px;
  color: dimgrey;
  font-weight: 900;
  font-size: larger;
  font-family: system-ui;
}

.recipes-div > div .ingredients-container {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 210px;
  left: 205px;
}

.recipes-div > div .ingredients {
  padding-block: 3px;
  position: absolute;
  top: 210px;
  left: 200px;
}

.ingredient-name {
  padding-inline: 10px;
  color: darkslategrey;
  font-weight: 700;
  font-size: larger;
  font-family: system-ui;
}

.ingredient-amount,
.ingredient-type {
  padding-left: 2px;
  color: darkslategrey;
  font-weight: 400;
  font-size: larger;
  font-family: system-ui;
}

.delete > div button,
.recipes-div > button {
  margin-inline: 5px;
  border: 0;
  border-radius: 40px;
  padding: 10px 10px;
  /* font-size: 1.2rem; */
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  width: 80px;
}

/* .delete > div button,:hover, */
.recipes-div > button:hover {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.edit-btn {
  background-color: dodgerblue;
}

.edit-btn:hover {
  background: none;
  color: dodgerblue;
  border: 1px solid dodgerblue;
}

.delete-btn {
  background-color: tomato;
}

.delete-btn:hover {
  background: none;
  color: tomato;
  border: 1px solid tomato;
}

.delete > div button .options {
  /* background: gold; */
  height: 60px;
  width: 300px;
  position: absolute;
  top: 545px;
  left: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-around;
}

.option {
  display: inline-block;
  /* background-color: #fff; */
  width: 64px;
  height: 64px;
  border-radius:15px ;
  /* border-radius: 50%; */
  /* filter: brightness(0.5); */
  backdrop-filter: blur(4px);
  height: 70px;
}

.option > img {
  height: 40px;
  width: 40px;

}


.option-blue {
  border: 2px solid cornflowerblue;
}

.option-tomato {
  border: 2px solid tomato;
}

.option-green {
  border: 2px solid green;
}

.option-blue:hover {
  background-color: lightblue;
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.option-tomato:hover {
  background-color: lightgoldenrodyellow;
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.option-green:hover {
  background-color: lightgreen;
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.icon-container {
    display: inline-flex;
    width: 64px;
    height: 64px;
    
    justify-content: center;
    align-items: center;
}

 .text {
  color: #161616;
  font-size: xx-large;
  font-weight: 900;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon--blue {
    fill:  cornflowerblue;
}

.icon--tomato {
  fill:  tomato;
}

.icon--green {
  fill:  green;
}

.recipes-div > div.edit,
.recipes-div > div.delete {
  background-image: none;
  background-color: #161616;
  height: 300px;
  width: 300px;
}
