body {
  margin: 0;
  min-height: 100vh; /* Full viewport height */
  background-image: url(../pics/background-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-backdrop-filter: blur(5px) brightness(60%);
  backdrop-filter: blur(5px) brightness(60%);
  overflow-y: hidden;
  overflow-x: hidden;
}
.main-category-div {
  width: 100%;
  height: 100%;
  transform: translateY(50px); /* Start slightly below */
  opacity: 0; /* Initially hidden */
  animation: fadeSlideIn 0.7s ease-in-out forwards; /* 2-second combined animation */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling within the content area */
  padding: 20px;
}
.main-category-div2 {
  position: relative;
  right: 50%;
  bottom: -50%;
}

.cta-button {
  background-color: #ffd700;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 70px;
  width: 500px;
  height: 100px;
  position: relative;
  bottom: -25%;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 5);
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #f4c20d;
  opacity: 0.8;
}
.main-div {
  transform: translateY(50px); /* Start slightly below */
  opacity: 0; /* Initially hidden */
  animation: fadeSlideIn 0.7s ease-in-out forwards; /* 2-second combined animation */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling within the content area */
  padding: 20px;
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .logo {
    width: 20vw;
  }
}
.categoryform-div-category {
  position: relative;
  right: -31%;
}
@keyframes fadeSlideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo-image {
  width: 450px;
  height: 450px;
  border-radius: 400px;
  margin-bottom: 20px;
  position: relative;
  bottom: -65%;
  left: -35%;
}
.logo2-image {
  width: 450px;
  height: 450px;
  border-radius: 400px;
  position: relative;
  right: -120%;
  bottom: -40%;
  top: -20%;
}
.header-text {
  color: white;
  width: 950px;
  font-size: 70px;
  text-align: center;
}
.header2-div {
  position: relative;
  display: flex;
  bottom: -80%;
  right: 15%;
  width: 650px;
  border-radius: 50px;
  padding: 5px;
}
.h2-text {
  font-size: 70px;
  width: 400px;
  text-align: center;
  position: relative;
  right: -20%;
  color: white;
}

.header-div {
  position: relative;
  right: -22%;
  bottom: -11%;
  background-color: rgb(28, 28, 45);
  border-radius: 50px;
  padding: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 5);
}
.recipes-home-div {
  background-color: rgb(28, 28, 45);
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative;
  bottom: -33%;
}
.category-home-div {
  background-color: rgb(28, 28, 45);
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative;
  right: -26%;
  margin-top: 40px;
  width: 700px;
  margin-top: 90px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
.category-home-div2 {
  background-color: rgb(28, 28, 45);
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative;
  right: -22%;
  width: 700px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
@keyframes fadeText {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
.recipe-list {
  display: flex;
  gap: 40px;
}
.category-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 200px;
}
.category-list2 {
  display: flex;
  gap: 40px;
}
.category-card2 {
  position: relative;
  bottom: 20%;
  right: -170%;
}

.recipes-div {
  background-color: rgb(28, 28, 45);
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 32px;
  animation: fadeText 0.7s infinite; /* Set same duration as h1 */
}
.recipes-div-detail {
  background-color: rgb(28, 28, 45);
  text-align: center;
  color: white;
  width: 60%;
  height: 750px;
  position: relative;
  right: -19%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 32px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
.category-div {
  background-color: rgb(28, 28, 45);
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 32px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
.recipe-card {
  position: relative;
  bottom: -100%;
}
.category-card {
  position: relative;
  bottom: 0%;
  right: -80%;
  margin-bottom: 20px;
  animation: fadeSlideIn 0.7s ease-in-out forwards;
}
.recipe-images {
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}
.recipe-images-detail {
  width: 500px;
  height: 500px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}
.category-images {
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}

.main-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
